body {
  background: url(wood-bg.png);
  padding-top: 1em;
}

#main_div {
  text-align: center;

}

#board_table {
  color: azure;
  width: 90%;
  margin: auto;
  margin-top: 3em;
}

#board_headers {
  font-size: 16px;
  font-weight: bold;
  background-color: azure;
  color:#212529;
}

#round_header {
  width: 10%;
}

#players_ul li{
  margin: 2em;
}

h4 {
  color: azure;
  text-align: left;
}

h2 {
  color: azure;
  margin-left: 1em;
}

#game_inputs {
  color: black
}

#input_header {
  color: azure
}

